
.game {
    width:  600px;
    height: 600px;
}

.leftgutter {
    float: left;
    padding: 0 10px;
    height: 570px;
}

.leftgutter div {
    height: 12.5%;
    line-height: 70px;
    font-size: 10px;
}

.bottomgutter {
    float: right;
    width: 570px;
}

.bottomgutter div {
    float: left;
    text-align: center;
    width: 12.5%;
    padding-top: 7px;
    font-size: 10px;
}

.board {
    float: left;
    width:  570px;
    height: 570px;
    border: 1px solid #000;
}

.board .file {
    float: left;
    height: 12.5%;
    width: 100%;
}

.board .cell {
    float: left;
    width:  12.5%;
    height: 100%;
}

.board .file:nth-child(even) .cell:nth-child(odd),
.board .file:nth-child(odd)  .cell:nth-child(even) {
    background-color: #74BFED;
}

.board .file:nth-child(even) .cell:nth-child(even),
.board .file:nth-child(odd)  .cell:nth-child(odd) {
    background-color: #D9F0FF;
}

.board .piece {
    width:  50px;
    height: 50px;
}


/*
 * game details header
 */

.gamedetails {
    text-align: center;
    display: none;
}

.gamedetails .players {
    font-size: 18px;
}
