
<div class="board">
    
    <% for (var i = 8; i > 0; i--) { %>
        <div class="file">
            <div class="a<%= i %> cell">a<%= i %></div>
            <div class="b<%= i %> cell">b<%= i %></div>
            <div class="c<%= i %> cell">c<%= i %></div>
            <div class="d<%= i %> cell">d<%= i %></div>
            <div class="e<%= i %> cell">e<%= i %></div>
            <div class="f<%= i %> cell">f<%= i %></div>
            <div class="g<%= i %> cell">g<%= i %></div>
            <div class="h<%= i %> cell">h<%= i %></div>
        </div>
    <% } %>
    
    <div class="pieces">
        <img src="img/pieces/lite/king.png" class="piece lite king" />
        <img src="img/pieces/lite/queen.png" class="piece lite queen" />
        <img src="img/pieces/lite/bishop.png" class="piece lite bishop1" />
        <img src="img/pieces/lite/bishop.png" class="piece lite bishop2" />
        <img src="img/pieces/lite/knight.png" class="piece lite knight1" />
        <img src="img/pieces/lite/knight.png" class="piece lite knight2" />
        <img src="img/pieces/lite/rook.png" class="piece lite rook1" />
        <img src="img/pieces/lite/rook.png" class="piece lite rook2" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn1" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn2" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn3" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn4" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn5" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn6" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn7" />
        <img src="img/pieces/lite/pawn.png" class="piece lite pawn8" />
        
        <img src="img/pieces/dark/king.png" class="piece dark king" />
        <img src="img/pieces/dark/queen.png" class="piece dark queen" />
        <img src="img/pieces/dark/bishop.png" class="piece dark bishop1" />
        <img src="img/pieces/dark/bishop.png" class="piece dark bishop2" />
        <img src="img/pieces/dark/knight.png" class="piece dark knight1" />
        <img src="img/pieces/dark/knight.png" class="piece dark knight2" />
        <img src="img/pieces/dark/rook.png" class="piece dark rook1" />
        <img src="img/pieces/dark/rook.png" class="piece dark rook2" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn1" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn2" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn3" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn4" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn5" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn6" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn7" />
        <img src="img/pieces/dark/pawn.png" class="piece dark pawn8" />
    </div>
</div>
